<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AIChat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CA9B15B2E635CAC001CE56B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA9B1682E635CAD001CE56B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA9B1722E635CAD001CE56B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
